<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->

        <ul class="sidebar-menu" data-widget="tree">
            <li><a href="/Admin/Home"><i class="fa fa-users"></i> <span>Danh sách khách hàng</span></a></li>
            <li><a href="/Admin/Candidator"><i class="fa fa-user"></i> <span>Danh sách ứng cử viên</span></a></li>
            <li><a href="/Admin/Banner"><i class="fa fa-file-photo-o"></i> <span>Quản lý banner</span></a></li>
            <li><a href="/Admin/Loans"><i class="fa fa-newspaper-o"></i> <span>Quản lý Điều kiện vay</span></a></li>
        </ul>
        

    </section>
    <!-- /.sidebar -->
</aside>