@{
    ViewData["Title"] = "Lớp";
}

<h1>Lớp</h1>
<div>
    <a href="javascripts:void(0);"
       class="btn btn-outline-success"
       onclick="lop.openAddEditModal()">Tạo Lớp</a>
</div>

<div class="row" style="width:100%">
    <div class="col-12">
        <table class="table table-bordered table-hover table-striped" style="width:100%;" id="tbLop">
        </table>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="addEditModel">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="frmAddEditClass">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Tạo Lớp</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <input hidden id="LopId" name="LopId" value="0" />
                    <div class="row form-group">
                        <div class="col-3 col-md-4">
                            <label class="float-right">Tên lớp</label>
                        </div>
                        <div class="col-9 col-md-8">
                            <input type="text" class="form-control" id="TenLop" name="TenLop"
                                   data-rule-required="true"
                                   data-msg-required="Đây là trường bắt buộc." />
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <a href="javascripts:void(0);"
                       class="btn btn-outline-info"
                       onclick="lop.save()">Lưu</a>
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Hủy</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section css{
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />
}


@section Scripts{
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootbox.js/bootbox.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/js/lop/lop.js"></script>
}
