################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/QLNV.Web/bin/Debug/netcoreapp2.2
/QLNV.Web/obj
